@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.navbg{
    background: white;
    background: linear-gradient(90deg, white 0%,#0B2545 100%);
   
}

.navlink{
    margin-left: 5rem; 
   
    font-family: "Montserrat" ;
    font-weight: 600;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
 
    color:#ffffff;
  }
